# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Cache files
*.cache
*.coverage
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

.vscode
no_mod
with_mod

discMeasuresEnv
unsloth_compiled_cache